{% extends "base.html" %}
{% block content %}

<table class="table table-bordered" id="csv_import_table">
    <thead>
      <tr>
        <th>PLZ</th>
        <th>Sum</th>
      </tr>
    </thead>
    <tbody>
        {% for order in object_list %}
        <tr>
            <td>{{order.shipping_address.zip}}</td>
            <td>{{order.total_price_with_shipping}}</td>
        </tr>
        
        {% endfor %}
    </tbody>
  </table>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        $(function() {
            $("#csv_import_table").tablesorter();
        });
    });

</script>

{% endblock content %}